body {
    background-image: url("imagenes/fondoppal.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
   /* font-family: "Verdana"; */
}
#cerrarSesion {
    margin: auto;
    position: relative;
    width: 162px;
    height: 42px;
    margin-top: 35%;
    margin-left: 85%;

    background: white;
    border: 1px solid #586658;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 1%;
    font-size: 40px;
}

table {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centrar {
    text-align: right;
}

th{
    text-align: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 10px 150px 10px 10px;
    background:rgba(120, 174, 65, 0.5);
    padding: 10px 20px;
    display: inline;
}


